i{
	padding: 2px;
}
li{
	margin: 0 auto;
}
.abcd{
	margin-left: 100px;
}
.carousel-caption {
    position: absolute;
    /* right: auto; */
    bottom: 180px;
    left: 40%;
    z-index: 10;
    padding-top: 40;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.form-control {
	
    display: block;
    width: 50% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-success {
	
    color: #dc3545;
    background-color: #f8f9fa;
    background-image: none;
    border-color: #efecec;
}


@media (max-width: 992px){
	body{
		background-color: red;
	}

	.user{
		margin-left: 100px !important;
	}
}
@media(max-width: 1194px){
	.form-control {
	
    display: block;
    width: 60% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #495057;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
}
@media(max-width: 977px){
	.carousel-caption {
    position: absolute;
    /* right: auto; */
    bottom: 100px;
    left: 40%;
    z-index: 10;
    padding-top: 40;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
}
@media (min-width: 576px)
.form-inline .form-control {
    display: inline-block;
    width: 80%!important;
    vertical-align: middle;
}




